body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f8f8f8;
    color: #333;

}

header {
    background-color: #ffcccb;
    text-align: center;
    padding: 50px;

}

h1 {
    font-size: 3em;
    margin: 0;
}

p {
    font-size: 1.2em;
}

section {
    padding: 20px;
    margin: 20px;
    border-radius: 8px;
    background-color: #fff;
    box-shadow: 0 2px 10px rba(0,0,0, 0.1);

}

.gallery-item {
    display: inline-block;
    margin: 10px;
}

.gallery-item img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
}

blockquote {
    border-left: 4px solid #ffcccb;
    padding-left: 20px;
    font-style: italic;
}

footer {
    text-align: center;
    padding: 20px;
    background-color: #ffcccb;
    
}

